In [3]:
import pandas as pd
import glob
import os
import re

In [2]:
a= u'還'
print(a)
print(a.encode('utf-8'))

還
b'\xe9\x82\x84'

In [3]:
#labels= pd.read_csv('unicode_translation.csv')
labels= pd.read_csv('all_unicodes.csv')
labels.head(5)

,unicode,label,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,U+3007,〇,xxxxx,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,U+4E00,一,m,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,U+4E01,丁,mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,U+4E02,丂,mvs,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,U+4E03,七,ju,jv,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
def label_data(file, save=False):
    df= pd.read_csv(path+str(file), names=["a", "b", "c", "d","true_label"])
    #df.columns= ["a", "b", "c", "d","true_label"]
    a= df.merge(labels, left_on='true_label', right_on='label')[["a","b","c","d","true_label","unicode"]]
    df["index"] = df['true_label'].isin(a['true_label'])
    if save:
        df.to_csv(("Check_labes/"+str(file)), index=False)
        a.to_csv(("Add_unicode_label_csv/"+str(file)), index=False)
    return df, a

In [16]:
# setting the path for joining multiple files
path='csv/'
files = (file for file in os.listdir(path) 
         if os.path.isfile(os.path.join(path, file)))

In [17]:
#KEEP SAVE FALSE!!!
orig_data=[]
new_data= []
filess= []

for file in files:
    filess.append(file)
    df, new_df = label_data(file, True)
    orig_data.append(df)
    new_data.append(new_df)

In [18]:
sizes=[]
sizes_new=[]
for i in range(len(orig_data)):
    sizes.append(len(orig_data[i]))
    sizes_new.append(len(new_data[i]))

orig_data_info= dict(zip(filess, sizes))
new_data_info= dict(zip(filess, sizes_new))

In [19]:
print(orig_data_info)
print(new_data_info)

{'29.csv': 77, '57.csv': 27, '26.csv': 221, '51.csv': 187, '3.csv': 239, '59.csv': 52, '35.csv': 203, '11.csv': 436, '68.csv': 70, '4.csv': 131, '45.csv': 230, '72.csv': 20, '14.csv': 389, '18.csv': 363, '5.csv': 14, '20.csv': 299, '22.csv': 355, '6.csv': 78, '50.csv': 189, '70.csv': 99, '66.csv': 28, '40.csv': 258, '27.csv': 16, '36.csv': 203, '9.csv': 178, '41.csv': 250, '42.csv': 232, '2.csv': 226, '44.csv': 227, '71.csv': 4, '69.csv': 65, '25.csv': 117, '74.csv': 10, '64.csv': 165, '65.csv': 211, '31.csv': 211, '37.csv': 193, '49.csv': 182, '10.csv': 146, '17.csv': 401, '56.csv': 11, '13.csv': 430, '38.csv': 190, '39.csv': 201, '33.csv': 212, '54.csv': 78, '47.csv': 221, '43.csv': 218, '30.csv': 226, '12.csv': 422, '67.csv': 70, '7.csv': 48, '58.csv': 54, '1.csv': 192, '24.csv': 287, '53.csv': 197, '75.csv': 176, '48.csv': 184, '61.csv': 12, '73.csv': 58, '8.csv': 142, '21.csv': 406, '62.csv': 14, '15.csv': 362, '16.csv': 389, '55.csv': 2, '19.csv': 364, '23.csv': 103, '52.csv': 215, '34.csv': 241, '60.csv': 29, '63.csv': 61, '32.csv': 214, '28.csv': 86, '46.csv': 203}
{'29.csv': 77, '57.csv': 27, '26.csv': 217, '51.csv': 187, '3.csv': 237, '59.csv': 52, '35.csv': 203, '11.csv': 431, '68.csv': 70, '4.csv': 131, '45.csv': 229, '72.csv': 20, '14.csv': 389, '18.csv': 362, '5.csv': 14, '20.csv': 296, '22.csv': 354, '6.csv': 73, '50.csv': 189, '70.csv': 99, '66.csv': 28, '40.csv': 257, '27.csv': 16, '36.csv': 203, '9.csv': 175, '41.csv': 249, '42.csv': 231, '2.csv': 222, '44.csv': 227, '71.csv': 4, '69.csv': 65, '25.csv': 116, '74.csv': 10, '64.csv': 164, '65.csv': 210, '31.csv': 210, '37.csv': 192, '49.csv': 182, '10.csv': 145, '17.csv': 400, '56.csv': 11, '13.csv': 429, '38.csv': 187, '39.csv': 201, '33.csv': 212, '54.csv': 77, '47.csv': 216, '43.csv': 218, '30.csv': 226, '12.csv': 421, '67.csv': 70, '7.csv': 48, '58.csv': 54, '1.csv': 192, '24.csv': 281, '53.csv': 196, '75.csv': 165, '48.csv': 183, '61.csv': 12, '73.csv': 54, '8.csv': 139, '21.csv': 403, '62.csv': 14, '15.csv': 362, '16.csv': 388, '55.csv': 2, '19.csv': 358, '23.csv': 102, '52.csv': 214, '34.csv': 241, '60.csv': 29, '63.csv': 61, '32.csv': 214, '28.csv': 84, '46.csv': 201}

In [20]:
#CHECK UNKNOWN VALUES
num=0
for i in range(len(orig_data)):
    aa= orig_data[i][~orig_data[i]['index']]
    print(i, aa)
#6.csv es el que le falta 聃 por eso hay que agregarselo manualmente

0 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
1 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
2         a    b   c   d true_label  index
36   1305  158  53  49          ?  False
133   934  575  60  52          ?  False
203   521  795  65  63        NaN  False
220   360  384  50  74          ?  False
3 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
4        a    b   c   d true_label  index
3   1363  311  88  59          ?  False
36  1274  821  93  59          ?  False
5 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
6 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
7        a    b   c   d true_label  index
250  741  805  40  37          ?  False
313  554  633  44  40          ?  False
335  477  444  54  45          ?  False
384  357  374  45  40          ?  False
397  393  806  30  35          ?  False
8 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
9 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
10        a    b   c   d true_label  index
163  535  716  53  89          ?  False
11 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
12 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
13        a    b   c   d true_label  index
247  717  950  55  42          ?  False
14 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
15         a    b   c   d true_label  index
1    1362  261  58  56          ?  False
24   1299  810  45  54          ?  False
107   964  404  63  76          ?  False
16        a    b   c   d true_label  index
353  214  999  68  27          ?  False
17        a    b    c    d true_label  index
21  1256  537  108   71          ?  False
48   675  892   97   79         聃   False
62   602  249   87   57          ?  False
73   287  280   87  134          ?  False
74   283  461   79   78          ?  False
18 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
19 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
20 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
21        a    b   c   d true_label  index
226  334  852  57  62          ?  False
22 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
23 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
24        a     b    c   d true_label  index
70  1105  1055   75  46          ?  False
84   917   917  111  85          ?  False
87   863   298   79  64          ?  False
25        a    b   c   d true_label  index
10  1530  694  32  55          ?  False
26        a    b   c   d true_label  index
129  775  515  67  75          ?  False
27         a    b   c   d true_label  index
6    1355  503  99  46          ?  False
44   1222  506  84  65          ?  False
88    993  348  81  57          ?  False
199   412  585  84  50        NaN  False
28 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
29 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
30 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
31       a    b   c   d true_label  index
51  463  488  45  55          ?  False
32 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
33        a    b   c   d true_label  index
12  1120  637  53  45          ?  False
34       a    b   c   d true_label  index
85  892  430  43  35        NaN  False
35        a    b   c   d true_label  index
15  1395  865  64  58          ?  False
36        a    b   c   d true_label  index
69  1032  706  55  62          ?  False
37 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
38        a    b   c   d true_label  index
25  1279  696  97  70          ?  False
39        a    b   c   d true_label  index
187  894  710  53  48          ?  False
40 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
41        a    b   c   d true_label  index
31  1314  372  44  44          ?  False
42         a    b   c   d true_label  index
32   1259  292  74  67          ?  False
172   323  787  75  90          ?  False
181   248  547  60  88          ?  False
43 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
44 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
45        a    b   c   d true_label  index
19  1302  307  71  54          ?  False
46        a    b   c   d true_label  index
33  1321  339  77  53          ?  False
40  1341  639  63  67          ?  False
54  1273  627  54  60          ?  False
86  1105  845  75  63          ?  False
88  1107  943  82  70          ?  False
47 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
48 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
49       a    b   c   d true_label  index
8  1392  495  49  35          ?  False
50 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
51 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
52 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
53 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
54         a    b   c   d true_label  index
47   1364  413  61  50          ?  False
69   1301  524  55  73          ?  False
88   1229  531  67  61          ?  False
222   634  321  67  69          ?  False
246   566  542  62  63          ?  False
249   577  754  60  77          ?  False
55        a    b   c   d true_label  index
184  292  320  49  34          ?  False
56       a    b   c   d true_label  index
16  643  336  73  56          ?  False
17  649  381  68  50          ?  False
28  593  332  45  58          ?  False
29  585  391  72  52          ?  False
30  577  435  77  46          ?  False
41  474  390  72  57          ?  False
44  604  604  45  37          ?  False
48  490  511  41  37          ?  False
54  398  332  74  62          ?  False
64  348  347  65  50          ?  False
65  351  404  62  43          ?  False
57        a    b   c   d true_label  index
129  590  918  71  50        NaN  False
58 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
59       a    b   c   d true_label  index
40  500  480  79  54          ?  False
47  454  486  54  55          ?  False
54  373  410  69  59          ?  False
55  369  462  75  43          ?  False
60         a    b    c   d true_label  index
26   1185  745   71  44        NaN  False
103   444  288  128  91          ?  False
138   264  742   99  86          ?  False
61         a    b   c   d true_label  index
85   1258  480  44  44          ?  False
178  1041  630  40  52          ?  False
404   256  958  83  45          ?  False
62 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
63 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
64        a    b   c   d true_label  index
228  660  629  49  58          ?  False
65 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
66         a     b   c   d true_label  index
99   1118   763  45  54          ?  False
153   943   664  37  48          ?  False
171   885   475  49  60        NaN  False
315   467   785  55  51          ?  False
354   312   589  55  54          ?  False
363   329  1009  67  69          ?  False
67       a    b   c   d true_label  index
7  1487  597  59  38          ?  False
68       a    b   c   d true_label  index
0  1439  192  13  10        NaN  False
69 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
70 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
71 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
72 Empty DataFrame
Columns: [a, b, c, d, true_label, index]
Index: []
73        a    b    c   d true_label  index
30  1265  533   73  62          ?  False
74   584  291  139  95          ?  False
74        a    b   c   d true_label  index
27  1404  926  68  55          ?  False
37  1238  452  77  61          ?  False

In [21]:
new_data[0]

       a    b    c    d true_label unicode
0   1324  202  140   96          以  U+4EE5
1   1315  309  141  103          億  U+5104
2   1336  555  128  134          數  U+6578
3   1335  670  127  143          計  U+8A08
4   1347  852  114  119          焉  U+7109
..   ...  ...  ...  ...        ...     ...
72   238  672   43   52          未  U+672A
73   223  729   57   53          緊  U+7DCA
74   227  781   55   63          重  U+91CD
75   240  889   49   43          可  U+53EF
76   237  934   50   32          達  U+9054

[77 rows x 6 columns]

In [28]:
# Remove end spaces
def remove_end_spaces(string):
    return "".join(string.rstrip())

In [30]:
def convert_data(file, pdf2):
    df= pd.read_csv(path+str(file))
    name=str(file).split('.',1)[0]
    #print(name)
    d={'image_id':str(name), 'labels':(df["unicode"]+ ' '+ df["a"].astype(str)+ ' '+df["b"].astype(str)+
                                       ' '+df["c"].astype(str)+ ' '+df["d"].astype(str)+ ' ')}
    pdf= pd.DataFrame(data=d)
    a=pdf['labels'].tolist()
    a=remove_end_spaces(''.join(map(str, a)))
    #print(a)
    pdf= pd.DataFrame({"image_id":name,'labels':[a]})
    pdf2= pdf2.append(pdf, ignore_index=True)
    d.clear()  
    del a
    return pdf2

In [31]:
path='Add_unicode_label_csv/'
dataa= pd.DataFrame({"image_id":[],'labels':[]})
files = (file for file in os.listdir(path) 
         if os.path.isfile(os.path.join(path, file)))
for file in files:
    dataa= convert_data(file, dataa)
dataa
#Solved!!!
#ToDo: Se agrega un espacio en blanco al final de la lista de "labels" que debe ser removido malualmente!!!
#Se corrige este detalle al final de este notebook una vez creado data/train, test dataset, tambien se corrige en el merge_csv.csv

   image_id                                             labels
0        29  U+4EE5 1324 202 140 96 U+5104 1315 309 141 103...
1        57  U+5DE6 761 185 90 108 U+4EE4 756 300 100 119 U...
2        26  U+7D8F 1461 158 61 69 U+671F 1470 216 39 42 U+...
3        51  U+9858 1448 253 87 76 U+7232 1472 314 56 48 U+...
4         3  U+800C 1369 191 72 47 U+800C 921 312 61 41 U+8...
..      ...                                                ...
70       60  U+90FD 728 181 106 195 U+4EE4 713 379 123 122 ...
71       63  U+4E00 1284 876 53 31 U+54E1 1284 898 78 77 U+...
72       32  U+65BC 1476 604 61 39 U+65BC 1322 516 31 24 U+...
73       28  U+9818 1462 190 84 80 U+8A18 1465 661 95 83 U+...
74       46  U+7686 1466 306 59 57 U+7686 297 461 83 67 U+6...

[75 rows x 2 columns]

In [32]:
#Save???
save= False
if save:
        dataa.to_csv("Csv_Label/All_data.csv", index=False)

In [33]:
def merge_all(file,df2):
    df= pd.read_csv(path+str(file))
    name=str(file).split('.',1)[0]
    df.insert(loc=0, column='image_id', value=name)
    #print(df)
    df2= df2.append(df, ignore_index=True)
    return df2

In [72]:
demo=pd.DataFrame({"image_id":[], "a":[], "b":[], "c":[], "d":[], "true_label":[], "unicode":[]})
files = (file for file in os.listdir(path) 
         if os.path.isfile(os.path.join(path, file)))
for file in files:
    demo= merge_all(file, demo)
    
demo

      image_id       a      b      c      d true_label unicode
0           29  1324.0  202.0  140.0   96.0          以  U+4EE5
1           29  1315.0  309.0  141.0  103.0          億  U+5104
2           29  1336.0  555.0  128.0  134.0          數  U+6578
3           29  1335.0  670.0  127.0  143.0          計  U+8A08
4           29  1347.0  852.0  114.0  119.0          焉  U+7109
...        ...     ...    ...    ...    ...        ...     ...
13224       46   234.0  284.0   50.0   58.0          守  U+5B88
13225       46   209.0  358.0   75.0   56.0          直  U+76F4
13226       46   219.0  429.0   71.0   64.0          罪  U+7F6A
13227       46   206.0  773.0   68.0   57.0          元  U+5143
13228       46   199.0  828.0   87.0   56.0          無  U+7121

[13229 rows x 7 columns]

In [73]:
#Save???
save= False
if save:
        demo.to_csv("All_data_Merged.csv", index=False)

In [1]:
##Correcion del espacio en blanco

In [49]:
u'可'

'可'